.templates {
  list-style: none;
  display: block;

  .templatesItem {
    color: #1a518bc9;
    margin-bottom: 10px;

    svg {
      height: 25px;
      width: 25px;
    }
  }
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  color: #1a518bc9;
  background-color: #fff3e6;
}

button:hover {
  color: #3379c4c9;
}

