<div class="container">
  <form class="block" [formGroup]="authForm" (ngSubmit)="submit()">
    <h1 class="title">Mini Paint</h1>
    <h2 class="title">Login</h2>
    <div class="form-controls">
      <label class="form-controls__label" for="email"> Email </label>
      <input class="form-controls__input" type="text" formControlName="email" />
      <div
        *ngIf="authForm.get('email').invalid && authForm.get('email').touched"
        class="validation"
      >
        <small *ngIf="authForm.get('email').errors.required">
          This field is required
        </small>
        <small *ngIf="authForm.get('email').errors.email">
          You have entered an invalid e-mail address. Please try again.
        </small>
      </div>
    </div>
    <div class="form-controls">
      <label class="form-controls__label" for="email"> Password </label>
      <input
        class="form-controls__input"
        type="text"
        formControlName="password"
      />
      <div
        class="validation"
        *ngIf="
          authForm.get('password').invalid && authForm.get('password').touched
        "
      >
        <small *ngIf="authForm.get('password').errors.required">
          This field is required</small
        >
        <small *ngIf="authForm.get('password').errors.minlength">
          Password must contain at least
          {{ authForm.get("password").errors.minlength.requiredLength }}
          characters. Please try again. You have entered
          {{ authForm.get("password").errors.minlength.actualLength }}
          characters
        </small>
      </div>
    </div>
    <button type="submit" class="btn" [disabled]="authForm.invalid">
      Sign In
    </button>
    <button type="button" class="btn" routerLink="/registration">
      Sign Up
    </button>
  </form>
</div>
