<div class="container">

  <form class="block"  [formGroup]="authForm" (ngSubmit)="submit()"  >
      <h1 class="block__title">Mini Paint</h1>

      <h2 class="block__title"> Login </h2>

      <div class="form-controls">

        <label class="form-controls__label" for="email"> Email </label>

        <input class="form-controls__input" type="text" formControlName="email">

        <div class="validation" >
          <small></small>
        </div>

      </div>

      <div class="form-controls">

        <label class="form-controls__label" for="email"> Password </label>

        <input class="form-controls__input" type="text" formControlName="password">

      </div>

      <button type="submit" class="btn" [disabled]="authForm.invalid"> Sign In </button>

      <button type="button" class="btn" routerLink='/registration'> Sign Up </button>
  </form>

</div>

<!-- routerLink='/white-board' -->
