<div class="container">

  <div class="block">
      <h1 class="block__title">Mini Paint</h1>

      <h2 class="block__title"> Login </h2>

      <div class="form-controls">

        <label class="form-controls__label" for="email"> Email </label>

        <input class="form-controls__input" type="text">

      </div>

      <div class="form-controls">

        <label class="form-controls__label" for="email"> Password </label>

        <input class="form-controls__input" type="text">

      </div>

      <button class="btn" routerLink='/white-board'> Sign In </button>

      <button class="btn" routerLink='/registration'> Sign Up </button>
  </div>

</div>

