/* You can add global styles to this file, and also import other style files */

body {
  background-color: #0D335D;
  background-color: #1a508b;
  padding: 0;
  margin: 0;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.container {
  display: flex;
  justify-content: center;

  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90vh;
    border: 1px solid #1a508b;
    margin: 10px 0;
    background-color: #fff3e6;



    .form-controls {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-bottom: 10px;

     &__label {
      margin-bottom: 5px;
     }

     &__input {
      display: block;
      width: 100%;
      font-size: 18px;
      padding: 5px;
      border: 1px solid #ccc;

      &.ng-invalid.ng-touched {
        border: 2px solid red;
      }

      &.ng-valid.ng-touched {
        border: 2px solid blue;
      }
     }
     .validation {
       color: red;
       font-weight: bold;
     }

    }
  }
}
  .btn {
  display: inline-block;
  padding: 16px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: #1a508b;
  color: #fff3e6;
  transition: opacity 0.2s ease-in;

  &:disabled {
    background: rgb(153, 148, 148);
    color: #000;
    cursor: not-allowed;
  }
  }

  .btn:hover {
    opacity: 0.8;
  }


  .title {
    color: #0D335D;
  }
